.distribuicao-musica  {
    width:100%;
    height: 550px;
    background-color: white;
    margin-top:5em;

}
.distribuicao-musica-titulo {
    
    color:black;
    text-align: center;
    padding-top: 2em;
    font-size: 30px;
    
}

.distribuicao-musica-texto {
    color:black;
    text-align: center;
    font-size: 15px;
    
}



.distribuicao-botao {
    padding: 2em 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.distribuicao-botao-item {
    text-align: center;
    width:30%;
    padding: 1em;
    margin: 1em 1em;
    color: black;
    background-color: rgb(19, 172, 227);
}

.distribuicao-botao-item:hover {
    background-color: yellow;

}






