.comentarios {
   
background-color:var(--cor-secundaria);
padding-bottom: 2em;

}

.comentarios {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   

}

.comentarios__titulo {
    text-align: center;
    color:var(--cor-primaria);
    padding:1em 0 1em 0;
    margin: 0 1em 0 1em;
}

.comentarios__videos-item {
    padding-top: 1em;

}

@media screen and (min-width:720px) {
    .comentarios__videos {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
}