.rodape {
  padding-bottom: 1em;
   
}

.imagem {
    display: flex;
    justify-content: center;
}

.rodape__logo {
    display:flex;
    justify-content:right;
    align-items: center;
     width:15%;
    margin-top: 1em;
    cursor:pointer;
}

.rodape__lista {
    display:flex;
    justify-content:center;
    align-items: center;
    list-style-type: none;
    flex-wrap: wrap;
    font-size: 15px;
    padding: 1em 0 2em 0;
    
   
}

.rodape__item {
    margin-right:1em;
    padding: 0 0 0.5em 0;
}
.rodape__link {
    text-decoration: none;
    color:var(--cor-secundaria);
}

.rodape__link:hover {
    color:var(--cor-rodape-hover);

}

.rodape__direitos {
    text-align: center;
    margin: 0 1em 0 1em;
    font-size: 1em;
}

@media screen and (min-width:720px) {
    .rodape__lista {
        display:flex;
        justify-content:center;
        align-items: center;
        list-style-type: none;
        
        font-size: 15px;
        padding: 1em 0 2em 0;
       
    }

    .rodape__item {
        margin-right:1em;
    }

}

