.apresentacao{
    padding-top: 1em;
    margin: 0.5em;
  
}
.apresentacao__video {
    padding: 1em 0 0 0;
}

.apresentacao__video-texto {
    font-size: 20px;
    text-align:center;
   
}

@media screen and (max-width:1024px){
    

}
