.botao__servico {
    width:100%;
    background-color: var(--cor-tercearia);
    text-decoration: none;
    text-transform: uppercase;
    border-radius:1em;
    margin: 2em 2em 2em 2em;
    padding: 0.5em 2em 0.5em 1.5em;
   
}

.botao {
    display:flex;
    justify-content: center;
    align-items: center;
    
    
}

@media screen and (max-width:700px) {
    .botao__servico {
        width:100%;
        background-color: var(--cor-tercearia);
        text-decoration: none;
        text-transform: uppercase;
        border-radius:1em;
        margin: 2em 2em 2em 2em;
        padding: 0.5em 2em 0.5em 1.5em;
       
    }
}