.dica {
    display:flex;
    flex-direction:column;
    align-items: center;
    padding-bottom: 2em;
}


.dica-titulo {
    font-size: 20px;
    text-align: center;
    padding:4px;
    margin: 50px 0 50px 0;
    background-color: var(--cor-secundaria);
    color:var(--cor-primaria);
}

.dica__titulo:hover {
       color:green;
}

.dica__botao {
    
    font-size: 16px;
    width:80%;
  
    color: var(--cor-secundaria);
    background-color: var(--cor-tercearia);
    cursor:pointer;
    border-radius: 1em;
    text-transform: uppercase;
    padding: 1em 0 1em 0;
   
    
   
}


.dica__botao:hover {
    background-color:rgb(26, 36, 11);
}


#dica__div {
    display:none;
}

.dica__texto {
    text-align: center;
    padding: 1em 1em 3em 1em;
    
}

@media screen and (min-width:1000px) {


    .dica__titulo {
        
       
        padding:4px;
        margin: 10px 0 10px 0;
        
        
    }
    .dica__botao {
        font-size: 25px;
        width:70%;
        padding: 0.5em 1em 0.5em 1em;
        color: var(--cor-secundaria);
        background-color: var(--cor-tercearia);
        cursor:pointer;
        border-radius: 2em;
        transition: 1s;
       
       
    }
}