.dica {
    display:flex;
    flex-direction:column;
    align-items: center;
}

.dica__titulo {
    color:white;
    padding-bottom: 1em;
    text-transform:uppercase ;
    cursor:pointer;
    text-decoration: underline;
    padding-top: 2em;
}

.dica__titulo:hover {
       color:green;
}

.dica__botao {
    
    font-size: 16px;
    width:80%;
    padding: 1em 1em;
    color: var(--cor-secundaria);
    background-color: var(--cor-tercearia);
    cursor:pointer;
    border-radius: 1em;
    text-transform: uppercase;
   
    
   
}

.dica__botao:hover {
    background-color:rgb(26, 36, 11);
}


#dica__div {
    display:none;
}

.dica__texto {
    text-align: center;
    padding: 1em 1em 3em 1em;
    
}

@media screen and (min-width:1000px) {


    .dica__titulo {
        font-size:30px;
        
    }
    .dica__botao {
        font-size: 25px;
        width:70%;
        padding: 0.5em 1em 0.5em 1em;
        color: var(--cor-secundaria);
        background-color: var(--cor-tercearia);
        cursor:pointer;
        border-radius: 2em;
        transition: 1s;
       
       
    }
}