.distribuicao {
    display:flex;
    flex-direction: column;
    align-items:center;
}

.distribuicao__titulo {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    padding: 1em;
}



.distribuicao__itens {
    display:flex;
    flex-direction: column;
    align-items:center;

}

.distribuicao__img_1 {
    display:flex;
    justify-content:center;
    align-items:center;
    padding:1em 3em 0 6em;
    cursor: pointer; 
    padding-bottom: 2em;
    
}

.distribuicao__img_2 {
    display:flex;
    justify-content:center;
    align-items:center;
    padding:1em 3em 0 6em;
    cursor: pointer; 
    
}
.distribuicao__img-item {
    display:flex;
    justify-content:center;
    align-items:center;
    width:25%;
    padding-right: 2em;
   
}
.distribuicao__img-item_3 {
    width:10%;
    padding-right: 2em;
}

.distribuicao-musica-botao {
    display:flex;
    justify-content:center;
    align-items:center;
    
    width:50%;
    background-color: var(--cor-tercearia);
    text-decoration: none;
    text-transform: uppercase;
    border-radius:1em;
    margin: 2em 2em 2em 2em;
    padding: 0.5em 1em 0.5em 1em;
}

.distribuicao__botao-item {
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:green;
  
  
    text-decoration: none;

}

.botao {
    margin-top:1em;
}