.formulario-pedido {
   
    padding-top:2em;

}

.formulario-titulo {
    text-align: center;
    padding-bottom: 1em;
}

form {
    width:auto;
}

.label-pedido, 
.label-quantidade, 
.label-artista, 
.label-link {
   margin-bottom: 1em;
}

.pedido-control, 
.quantidade-control, 
.artist-name, 
.link-musica {
    padding-top: 1em;
    width:100%;
}

.formulario-botao {
    padding-top:1em;
    display: flex;
    justify-content: center;
    align-items:center;
}