
.cabecalho-noticia {
    background-color: #333;
    color: #fff;
    padding: 10px 0px;
    text-align: center;
    margin:15px 0px;

}






.date {
    color: #333;
    background-color: #fff;
}


.materias-lista-links {
    display:flex;
    justify-content:space-around;
    align-items:center;
    list-style: none;
    padding: 2em 0 0 4em;
    font-size: 10px;
    
}

.materias-lista-links-item:hover {
    color: blue;
}

.materias {
    
    display:flex;
    flex-direction: column;
    align-items:center;
}

.materia-titulo {
    font-size:30px;
    text-align: center;
    padding: 1em;

}
    

.materia-texto {
    
    padding:2em;
    text-align: center;
    padding: 1em;

}

.materia-imagem {
    padding-top: 2em;
    margin:2em;
    width: 30%;
    
}

.tabela {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}

.spotify-profile {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding:1em;
}

.spotify-profile-img {
    width:25px;
    padding-left: 1em;
}


@media screen and (min-width:700px) {

    .materias-lista-links {
        display:flex;
        justify-content:space-around;
        align-items:center;
        list-style: none;
        padding: 2em 0 0 4em;
        font-size: 15px;
        
    }




}