.plus {
    display:flex;
    flex-direction: column;
    align-items:center;
    padding:2em 0 0 0;
    justify-content: center;
}

.plus__foto {
    width:15%;
    cursor: pointer;
}
strong {
    color:green;
}
.plus__titulo {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    padding:0.5rem 0 0.5rem 0;
}

.plus__lista {
    display:flex;
    flex-direction:column;

}

.plus__lista-titulo {
    text-align: center;
    font-size:15px;
    padding: 2em 0 0 0;
}
.plus__lista-texto {
    padding: 1em 0;
}

.plus__lista-item {
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:0 2em;
    background: rgb(82, 71, 71);
    padding-bottom: 2em;
}

.plus__botao {
    display:flex;
    justify-content: center;
    align-items:center;
    width:70%;
    padding: 1em;


}


.plus__botao-servico {
    display:flex;
    justify-content: center;
    align-items:center;
    width:100%;
    background-color: var(--cor-tercearia);
    text-decoration: none;
    text-transform: uppercase;
    border-radius:1em;
    margin: 2em 2em 2em 2em;
    padding: 1em 2em 1em 1em;
    
    
}





