.servico__texto {
    text-align:center;
    font-size:20px;
    margin: 0 2em 0 2em;
    padding-top: 2em;
}


.lista__servico {
    display:flex;
    justify-content: center;
    align-items: center;
    margin:2em 0 2em 0 ;
}
.lista__servico-item{
    display:flex;
    flex-direction: column;
    align-items:center;
    margin:2em 2em;

}

.lista__servico-foto {
    width: 30%;
    margin-bottom: 1em;
    cursor: pointer;
}

.lista__servico-texto {
    text-align:center;
    margin: 0 1em 0 1em;
    padding: 0 2em 0 2em;
}
.lista__servico-foto:hover {
    

}


@media screen and (max-width:700px) {

    .lista__servico {
        display:flex;
        flex-direction: column;
        align-items: center;
        margin:2em 0 2em 0 ;
        
    }

    .lista__servico-item{
        display:flex;
        flex-direction: column;
        align-items:center;
        
    
    }

    


    
    
}


