.servico__vendas-titulo {
    text-align: center;
    
    padding:4px;
    margin: 10px 0 10px 0;
    background-color: var(--cor-secundaria);
    color:var(--cor-primaria);
}


.lista__servico-titulo {
    font-size: 16px;
}

.lista__servico-texto {
    font-size: 12px;
}
.servico__texto {
    text-align:center;
    font-size:12px;
    margin: 0 2em 0 2em;
    padding-top: 2em;
}


.lista__servico {
    display:flex;
    justify-content: center;
    align-items: center;
    margin:2em 0 2em 0 ;
}
.lista__servico-item{
    display:flex;
    flex-direction: column;
    align-items:center;
   

}
.lista__servico-link {
    display: flex;
    justify-content: center;
    align-items: center;

}

.lista__servico-foto {
    width: 50%;
    margin-bottom: 1em;
    cursor: pointer;
}



.lista__servico-texto {
    text-align:center;
    margin: 0 1em 0 1em;
    padding: 0 2em 0 2em;
}


.lista__servico-foto:hover {
    

}


@media screen and (max-width:900px) {

    .lista__servico {
        display:flex;
        flex-direction: column;
        align-items: center;
        margin:2em 0 2em 0 ;
        
    }

    .lista__servico-item{
        display:flex;
        flex-direction: column;
        align-items:center;
        
    
    }

    


    
    
}


