

.slider{
    margin:0 auto;
    width:700px;
    height:200px;
    overflow:hidden;
    
}

.slides {
    display:none;
    width:400%;
    height:200px;   /* aqui diminue o tamanho da slide navegacao estava em 400px*/
    display:flex;
   
}

.slides input {
    display:none;
}

.slide {
    width:25%;
    position:relative;
}

.slide img {
    width:800px;
}


.manual-navegation {
    position:absolute;
    width:800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    display: none;   /* Para aparecer o navegacao manual retire essa funcao*/
}

.manual-btn {
    border:2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor:pointer ;
    transition: 1s;
    
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover{
    background-color:white;
}




#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}




.navegation-auto div{

    border:2px solid #20a6ff;
    padding:5px;
    border-radius:10px;
    cursor:pointer;
    transition: 1s;
    display: none; /* Para aparecer o navegacao manual retire essa funcao*/

}

.navegation-auto{
    position: absolute;
    width: 800px;
    margin-top: 160px;   /* aqui diminue o tamanho da slide azul navegacao, estava 360px*/
    display: flex;
    justify-content: center;

}



.navegation-auto :not(:last-child){
    margin-right: 40px;

}


#radio1:checked ~ .navegation-auto .auto-btn1{
    background-color:#ffff;

}



@media screen and (min-width:300px)  {

    .slider{
        margin:0 auto;
        width:300px;
        height:200px;
        overflow:hidden;
        
    }

}


@media screen and (min-width:700px)  {

    .slider{
        margin:0 auto;
        width:650px;
        height:200px;
        overflow:hidden;
        
    }

}



@media screen and (min-width:800px)  {

    .slider{
        margin:0 auto;
        width:800px;
        height:200px;
        overflow:hidden;
        
    }

}

