.titulo__pagina {
    display:flex;
    flex-direction: column;
    text-align:  center;
    background-color:var(--background-branco);
    

}

.subtitulo{
    display:flex;
    justify-content:center;
    align-items: center;
    
}

.titulo-letra-a {
    font-size: 50px;
}

.titulo {
   
   font-size: 40px;
   padding: 1em;
   cursor:pointer; 

}

.titulo:hover {
    color:var(--cor-texto-hover);
}

.titulo__texto {
    text-align: center;
    font-size:20px;
    padding-bottom: 1em;
    margin:0 1em 0 1em;
   
   
}

.titulo__pagina-foto {
   
    width:50px;
    cursor:pointer;
}







